
body {
    background-color: #44354e;
}

.display-4 {
    text-align: center;
}

.nameBox {
    padding: 10px;
}

#hiddenInput {
    display: none;
}

.jumbotron {
    background-color: #ccb5cc;
}

.card {
    margin: 2px;
    width: 50px;
}

.card-body {
    text-align: center;
}
#sortedStudents{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}